canvas {
  position: fixed;
  top: 0;
  left: 0;
  /* this fixed position allows the canvas to serve as a background and we can overlay other html elements over it */
}

.info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 50;
  display: block;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  z-index: 1;
  width: auto;
}

h1,
h2,
h3,
blockquote,
p,
ol,
ul {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  mix-blend-mode: exclusion;
  text-shadow: 2px 2px 100px rgba(0, 0, 0, 1);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  /* background: var(--dark-bg); */
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  /* margin-bottom: var(--spacing); */
}

section {
  width: 60%;
  color: white;
  padding: 1rem;
  position: relative;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  margin: 2rem 2rem;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
}

blockquote p {
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

a {
  color: #8ff;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

#one {
  width: 90%;
}

#two {
  /* margin-left: 35%; */
  text-align: center;
  margin: 0 auto;
}
#three {
  width: 85%;
  margin: 0 auto;
}
#four {
  margin: 0 auto;
  text-align: center;
}
#six {
  text-align: center;
  margin: 0 auto;
}
#eight {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
#nine {
  width: 85%;
  margin: 0 auto;
  height: 200%;
}
#ten {
  text-align: center;
  margin: 0 auto;
}

label {
  display: block;
}

fieldset {
  border: 0;
}

@media screen and (max-width: 768px) {
  /* Adjust the font size and spacing for smaller screens */
  :root {
    --spacing: 50px;
    font-size: 16px;
  }

  /* Make the header take up the full width of the screen */
  header {
    grid-column: 1 / -1;
  }

  /* Adjust the width of the section and move it down below the header */
  /* section {
    width: 100%;
    margin-top: var(--spacing);
    margin-bottom: 0;
  } */

  /* Center the blockquote */
  blockquote {
    grid-column: 1 / -1;
    text-align: center;
  }
}

#x {
  width: 100%;
  flex-basis: 100%;
}

#lvl,
#health,
#exp,
#mana,
#lastUpdate,
#streak {
  display: flex;
  flex-wrap: wrap;
  text-shadow: 5px 5px 100px rgba(0, 0, 0, 1);
  font-size: smaller;
  line-height: 1;
  margin: 0;
}

#lvl > h6 {
  flex-basis: 100%;
  margin: 0.5rem 0;
}

#lastUpdate > h6 {
  flex-basis: 100%;
  /* margin: 1rem 0; */
  margin: 0.5rem 0;
  text-align: left;
}

/* 
#lastUpdate,
#streak > h6 {
  margin: 0.5rem, 0;
} */
.flex-col1 {
  flex: 1;
  margin: auto 0;
  text-align: left;
}

.flex-col2 {
  flex: 3;
  width: 100%;
}

.flex-col3 {
  flex: 1.5;
  margin: auto 0;
  margin-left: 1rem;
  text-align: left;
}
